*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#FFF7EF;
    font-family:'Nunito',sans-serif;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.profile-card{

    width:480px;

    background:white;

    padding:40px;

    border-radius:25px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.profile-card h1{

    text-align:center;

    color:#930500;

    margin-bottom:35px;

    font-size:36px;

}

/*  INFO  */

.info{

    margin-bottom:22px;

}

.info label{

    display:block;

    margin-bottom:8px;

    font-weight:700;

    color:#930500;

    font-size:15px;

}

.info p{

    background:#F7F7F7;

    padding:14px 16px;

    border-radius:12px;

    color:#555;

    font-size:15px;

}

/*  MY ORDERS  */

.order-link{

    margin:35px 0;

    padding:18px 0;

    border-top:1px solid #ECECEC;

    border-bottom:1px solid #ECECEC;

}

.order-link a{

    display:flex;

    justify-content:space-between;

    align-items:center;

    text-decoration:none;

    color:#930500;

    font-size:17px;

    font-weight:700;

    transition:.3s;

}

.order-link a:hover{

    color:#770400;

    transform:translateX(6px);

}

/*  BUTTONS  */

.buttons{

    display:flex;

    gap:15px;

    margin-top:25px;

}

.back-btn,
.logout-btn{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    padding:14px;

    border-radius:12px;

    color:white;

    font-size:15px;

    font-weight:700;

    transition:.3s;

}

.back-btn{

    background:#02387C;

}

.back-btn:hover{

    background:#012B60;

    transform:translateY(-2px);

}

.logout-btn{

    background:#930500;

}

.logout-btn:hover{

    background:#770400;

    transform:translateY(-2px);

}

/* RESPONSIVE  */

@media(max-width:600px){

    body{

        padding:20px;

    }

    .profile-card{

        width:100%;

        padding:30px;

    }

    .buttons{

        flex-direction:column;

    }

}