* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero{
    position: relative;
    width: 100%;
    height: 520px;
    margin-top: 20px;

    background-color: #FFF7EF;

    background-image:
        linear-gradient(
            rgba(147, 5, 0, 0.08) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(147, 5, 0, 0.08) 1px,
            transparent 1px
        );

    background-size: 30px 30px;
}


.hero-content{
    position: absolute;
    left: 90px;
    top: 200px !important;
    width: 38%;
    z-index: 5;
}

.hero-content h1{
    font-family:"Cormorant Garamond", serif;
    font-size:55px;
    line-height:0.9;
    color:#7A0E0E;
}

.hero-content p{
    margin-top:15px;
    margin-bottom:25px;
    color:#555;
    line-height:1.7;
}

.hero-image{
    position:absolute;
    right:120px;
    top: 130px;
    bottom:30px;
    z-index:5;
}

.hero-image img{
    width: 330px;

    transform: rotate(-5deg);
}


@media(max-width:768px){

    .hero-content {
        width: 80%;
        left: 10%;
        top: 130px;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 35px;
    }

    .hero-image {
        display: none;
    }
}

#startBtn{
    font-family: 'Nunito', sans-serif;
    background-color: #930500;
    color: #ffffff;
    margin-top: 75px;

    border: none;
    border-radius: 25px;

    padding: 12px 30px;

    font-size: 16px;
    font-weight: 20px;

    cursor: pointer;

    transition: all 0.3s ease;
}

#startBtn:hover{
    background-color: #ffffff;
    color: #930500;
    transform: scale(1.05);
}

html{
    scroll-behavior: smooth;
}

.nav-links{
    text-decoration: none;
    color: #930500;
    font-weight: 600;

    display: flex;
    align-items: center;
    height: 50px;
}

.nav-links:hover{
    color: #c72a25;
}

.category-card{
    width: 220px;
    background: #FFF2D3;
    border-radius: 20px;
    padding: 20px;
}

.categories{
    background: white;
    padding: 70px 8%;
}

.categories h2{
    text-align: center;
    color: #930500;
    font-size: 35px;
    margin-bottom: 45px;
}

.categories-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.top-card{

    background: white;

    border-radius: 20px;

    padding: 30px 20px;

    text-align: center;

    box-shadow: 0 8px 25px rgba(0,0,0,.08);

    transition: .3s;

    height: auto;
}

.top-card:hover{

    transform: translateY(-8px);

    box-shadow: 0 15px 35px rgba(147,5,0,.15);

}

.top-card img{

    width: 130px;
    height: 130px;

    object-fit: contain;

    margin: 20px auto;

    display: block;

}

.top-card h4{

    color:#930500;

    font-size:20px;

    margin-top:10px;

}

.top-card p{

    color:#777;

    font-size:14px;

    margin-top:10px;

    line-height:1.6;

}

/* Warna tiap card */

.top-card:nth-child(1){
    background:#FFF3E7;
}

.top-card:nth-child(2){
    background:#FDECEC;
}

.top-card:nth-child(3){
    background:#EEF8EE;
}

.top-card:nth-child(4){
    background:#EEF2FF;
}

@media(max-width:992px){

.categories-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

.categories-grid{

grid-template-columns:1fr;

}

}

.products{
    background: #930500;
    padding: 15px 8% 60px;
}

.products h2{
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.product-card {
    width: 200px;
    height: 250px;
    margin: auto;
    background: #f8f8f8;
    border-radius: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s;
}

.product-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.product-card img{
    width: 120px;
    height: 120px;
    object-fit: contain;

    display: block;
margin: 0 auto;
}

.product-card p {
    margin: 10px 0 5px;
    color: #930500;
    font-weight: 600;
    font-size: 14px;

    height: 42px;
}
.product-card span{
    font-size: 13px;
    color: #666;
}


.buy-btn{
    background: #02387C;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 7px 14px;

    font-size: 12px;
    font-weight: 700;
    cursor: pointer;

    transition: 0.3s;
}

.buy-btn:hover{
    background: #750400;
}
.price-row{
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 8px;
}

.price-row span{
    color: #666;
    font-size: 13px;
}

.cart-wrapper{
    position: relative;
    cursor: pointer;
}

#cart-count{
    position: absolute;
    top: -8px;
    right: -10px;

    background: red;
    color: white;

    width: 18px;
    height: 18px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 11px;
    font-weight: bold;
}

.action-btns{
    display: flex;
    gap: 6px;
}

.cart-btn{
    background: #930500;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 7px 12px;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.cart-btn:hover{
    background: #750400;
}

.cart-sidebar{
    position: fixed;

    top: 0;
    right: -400px;

    width: 350px;
    height: 100vh;

    background: white;

    box-shadow: -5px 0 20px rgba(0,0,0,0.2);

    z-index: 999;

    transition: 0.4s;
}

.cart-sidebar.active{
    right: 0;
}

.cart-header{
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 20px;

    border-bottom: 1px solid #eee;
}

.cart-header h3{
    color: #930500;
}

#closeCart{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

.cart-items{
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 15px;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 12px;

    background: #f8f8f8;
    border-radius: 10px;

    padding: 10px;
}

.cart-footer{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 15px;

    border-top: 1px solid #eee;
    background: white;

    box-sizing: border-box;
}

.cart-total{
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;

    font-weight: bold;
}

#checkoutBtn{
    width: 100%;

    background: #930500;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 12px;

    cursor: pointer;
}

.delete-btn{
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.qty-btn{
    width: 28px;
    height: 28px;

    border: none;
    border-radius: 50%;

    background: #930500;
    color: white;

    cursor: pointer;

    font-weight: bold;
}

.qty-btn:hover{
    background: #750400;
}

/* CONTACT SECTION  */


#contact{
    background:#F8E8D5;
    padding:70px 8%;
}

.contact-header{
    text-align:center;
    margin-bottom:50px;
}

.contact-header h2{
    color:#930500;
    font-size:38px;
    margin-bottom:10px;
}

.contact-header p{
    color:#666;
}

.contact-cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.contact-card{
    background:white;
    border-radius:18px;
    padding:35px 25px;
    text-align:center;
    transition:.3s;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.contact-card:hover{
    transform:translateY(-8px);
}

.contact-card i{
    width:65px;
    height:65px;
    line-height:65px;
    border-radius:50%;
    background:#930500;
    color:white;
    font-size:24px;
    margin-bottom:18px;
}

.contact-card h4{
    color:#930500;
    margin-bottom:10px;
}

.contact-card p,
.contact-card a{
    color:#666;
    text-decoration:none;
    line-height:1.6;
}

.contact-card a:hover{
    color:#930500;
}

@media(max-width:768px){

    .contact-cards{
        grid-template-columns:1fr;
    }

}
/*  ABOUT  */

#about {

    background: white;
    padding: 70px 8% 100px;
}


.about-wrapper {

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 70px;
}


/* TEXT */

.about-text {

    width: 50%;
}


.about-text h2 {

    color: #930500;

    font-size: 30px;

    margin-bottom: 0px;
}


.about-text p {

    color: #666;

    font-size: 17px;

    line-height: 1.8;

    margin-bottom: 20px;
}




/* IMAGE */

.about-image {

    width: 45%;

    display: flex;

    justify-content: center;
}


.about-image img {

    width: 100%;

    max-width: 350px;

    object-fit: contain;

    filter: drop-shadow(
        0 15px 25px 
        rgba(255, 46, 46, 0.15)
    );
}


/* RESPONSIVE */

@media(max-width:768px){

    .about-wrapper {

        flex-direction: column-reverse;

        text-align: center;
    }


    .about-text,
    .about-image {

        width: 100%;
    }

}

.profile {
    position: relative;
    cursor: pointer;
    z-index: 99999;
}


.profile-btn {
    font-size: 15px;
}


.profile-menu {
    display: none;

    position: absolute;
    right: 0;
    top: 30px;

    background: white;

    width: 140px;

    border-radius: 12px;

    padding: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);

    z-index: 99999;
}


.profile-menu p {
    color: #930500;
    font-weight: 700;
    margin-bottom: 10px;
}


.profile-menu a {
    text-decoration: none;
    color: #930500;
}


.profile.show .profile-menu {
    display: block;
}

/* DROPDOWN PROFILE */
.profile {
    position: relative;
}

.profile-btn {
    cursor: pointer;
    color: #930500;
}

.profile-menu {
    display: none;

    position: absolute;
    top: 35px;
    right: 0;

    width: 220px;

    background: white;
    border-radius: 12px;

    padding: 15px;

    box-shadow: 0 5px 20px rgba(0,0,0,.15);

    z-index: 99999;
}

.profile-menu p {
    margin-bottom: 10px;
    font-size: 13px;
    word-break: break-word;
}

.profile-menu a {
    display: block;

    text-align: center;

    background: #930500;
    color: white;

    padding: 8px;
    border-radius: 8px;

    text-decoration: none;
}

.profile.show .profile-menu {
    display: block;
}

/* FOOTER  */

.footer{

    background:#930500;

    color:white;

    padding:60px 8% 25px;

}

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1.5fr;

    gap:50px;

}

.footer-logo{

    width:180px;

    margin-bottom:15px;

}

.footer-col p{

    color:#f5dede;

    line-height:1.8;

    font-size:15px;

}

.footer-col h4{

    margin-bottom:20px;

    font-size:18px;

}

.footer-col a{

    display:block;

    margin-bottom:12px;

    color:#f5dede;

    text-decoration:none;

    transition:.3s;

}

.footer-col a:hover{

    color:#fff;

    padding-left:5px;

}

.footer-social{

    margin-top:20px;

    display:flex;

    gap:15px;

}

.footer-social i{

    width:40px;

    height:40px;

    border-radius:50%;

    background:white;

    color:#930500;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:.3s;

}

.footer-social i:hover{

    background:#F8E8D5;

    transform:translateY(-5px);

}

.subscribe-box{

    display:flex;

    margin-top:20px;

    background:white;

    border-radius:30px;

    overflow:hidden;

}

.subscribe-box input{

    flex:1;

    border:none;

    padding:15px 20px;

    outline:none;

}

.subscribe-box button{

    width:60px;

    border:none;

    background:#F8E8D5;

    color:#930500;

    cursor:pointer;

    transition:.3s;

}

.subscribe-box button:hover{

    background:white;

}

.footer-bottom{

    text-align:center;

    margin-top:50px;

    padding-top:20px;

    border-top:1px solid rgba(255,255,255,.2);

    color:#f5dede;

    font-size:14px;

}

/* MOBILE */

@media(max-width:768px){

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

.footer-social{

justify-content:center;

}

}